@import url(variables.css);


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.all, .checkbox {
    background-color: beige;
}

.logo {
    background: #f13d35;
    align-content: space-between;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding: 1rem;
    box-shadow: gray;
    background: #f13d35;
}

.filterbtn {
    background: beige;
    padding: 1rem
}

.filterbtn:hover {
    background: #f13d35;
}

.logoimgtop {
    height: 20px;
}

.favstar {
    height: 15px;
}

.bigphoto{
    width: 100%;
}


.box {
    background: bisque;
    padding-left: 20rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-right: 20rem;
    margin-top: 5rem;
}

.mapcontainer {
    display: flex;
    align-content: center;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: 20%;
    margin-left: 20%;
    height: 40rem;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
