@import url(variables.css);


* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    background-color: #eddbad;
}

.navbar, .logoimgtop {
    background: #d8ae6d;
    align-content: space-between;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 1rem 10%;
    box-shadow: gray;
    border: solid #9f8677 3px;
    background: #d8ae6d;
}

.filterbtn {
    padding: 5px;
    border: solid #9f8677 3px;
}

.logoimgtop {
    height: 20px;
}

.favstar {
    height: 15px;
}


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
