.changeTheme {
    margin-top: 30rem;
}

.storedisplay {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
}

.card {
    justify-content: space-between;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    border: solid #eddbad 3px;
    border-radius: 8px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: 50%;
    max-width: 40%;
    background-color: #d8ae6d;
    padding: 50px;
}

.card:hover {
    transform: translate(-10px, -10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.itemimg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: solid 	#9f8677 6px;
    border-radius: 8px;
}

.itemname {
    font-size: var(--h2);
    padding: 20px;
}

.itemcolor {
    font-size: var(--h3);
    color: var(--cardborder);
    padding: 20px;
}

.year {
    font-size: var(--h4);
    padding: 20px;
}