.changeTheme {
    margin-top: 30rem;
}

.storedisplay {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    justify-content:space-between;
    align-self: justify;
    display: flex;
    flex-wrap: wrap;
    border: solid #9f8677 3px;
    border-radius: 8px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    max-width: 45%;
    background-color: #d8ae6d;
    padding: 50px;

    animation: unfold 1s;
}

.wide{
    width: 100vw;
    max-width: 90%;
}

@keyframes unfold {
    from{
      transform: rotateX(90deg)
    }
    to {
      transform: rotateX(00deg)
    }
  }
  

.card:hover {
    transform: translate(-10px, -10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.itemimg {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: solid 	#9f8677 6px;
    border-radius: 8px;
    height: 27.5rem;
}

.big{
    width: 40%
}

.year, .bio, .itemcolor, .itemname {
    font-size: var(--h4);
    padding: 20px;
    background-color: #d8ae6d;
    color: #3c2d1c;
}

.bio {
    border: solid #9f8677 4px;
    border-radius: 8px;
    background: #eddbad;
}